<!DOCTYPE html>
<html>
<head>
    <title>User Authentication</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.0/semantic.min.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.0/semantic.min.js"></script>
    <style>
/*        body {
            padding-top: 80px;
            padding-left: 60px;
        }*/

        .ui .button {
            width: 240px;
        }
    </style>
</head>
<body>

    <div class="ui segment">
        <div class="ui grid">
            <div class="four wide column"></div>
            <div class="six wide column">
                <h2 class='ui header'> Login or Register with:</h2>
            </div>

            <div class="ui four column row">
                <a href="/login" class="ui primary button"><i class='add user icon'></i>Login</a> <br />
                <a href="/signup" class="ui button"><i class='user icon'></i>Signup</a> <br />
                <a href="/auth/facebook" class="ui facebook button"><i class="facebook icon"></i> Facebook</a> <br />
                <a href='/auth/github' class="ui github black button"><i class='github icon'></i>Login with GitHub</a> <br />
                <div class="ui linkedin button"><i class="linkedin icon"></i>Login with LinkedIn</div> <br />
            </div>
        </div>


    </div>
    </div>

</body>
</html>
